<form method="post" action="">
    <fieldset>
        <legend>User Details</legend>
        <label for="pseudo">Pseudo/Email : </label><input type="text" name="pseudo" id="pseudo" placeholder="pseudo">
        <br>
        <label for="pass">Password : </label><input type="text" name="pass" id="pass" placeholder="password">
    <br>
        <input type="button" name="Connection" value="Connection" id="AppConnection">
        <input type="reset" name="Reset" value="Reset" id="AppReset">
    </fieldset>

</form>
<script src="../libraries/jquery.min.js"></script>

<script type="text/javascript" src="../js/map/logIn.js"></script>
